* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: palegreen;
    padding: 10px;
}

.todo {
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 70px 30px;
    border-radius: 10px;

}

.todo h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img{
    width: 40px;
    margin-left: 10px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#inputBox {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul, li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

.list-container {
    list-style: none;
    padding: 0;
}

.list-container li {
    display: flex;
    align-items: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
}

.custom-checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.custom-checkbox:checked {
    text-decoration: line-through;
    background-color: #007bff;
    border: 2px solid #007bff;
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
}

.custom-checkbox:checked + span {
    text-decoration: line-through;
    color: #ccc;
}